.legal-info-style {
  @apply text-gray-800;
  min-width: 1000px;
  // background: #f9f9f9 !important;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  padding: 2rem 5rem 2rem 8rem;
  margin: 4rem;
}
